# Maven build output
target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE & Editor files
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.springBeans
.sts4-cache/
.vscode/

# Logs & Diagnostics
*.log
logs/
hs_err_pid*
replay_pid*

# OS & Temp files
.DS_Store
Thumbs.db
*.tmp
*.bak
*.swp
